body {
  font-family: "Verdana";
  background-color: #e1f7f7;
  margin: 0 auto;
  max-width: 50em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  text-align: justify;
}

pre {
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #b8decb; }

code {
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #b8decb; }

code {
  padding: 1px 2px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }
