body {
  font-family: "Verdana";
  background-color: #e1f7f7;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

pre {
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #b8decb;
  padding: 8px 12px;
  /* code/output blocks should scroll rather than wrap, otherwise formatting gets screwed up */
  overflow-x: auto;
}

code {
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #b8decb;
  padding: 1px 2px;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.hover:hover .hide {
  display: inline-block;
}